---
- name: Configure Debian NFS media server
  hosts: nfs_servers
  become: true

  pre_tasks:
    - name: Install required packages
      ansible.builtin.apt:
        name:
          - lsb-release
          - util-linux-extra
          - vim
          - nfs-common
          - open-iscsi
          - curl
          - iotop
          - curl
          - cryptsetup
          - ntfs-3g
          - rsync
          - tmux
          - mergerfs
        state: present
        update_cache: true

    - name: Download Tailscale installation script
      ansible.builtin.get_url:
        url: https://tailscale.com/install.sh
        dest: /tmp/install_tailscale.sh
        mode: '0755'

    - name: Run Tailscale installation script
      ansible.builtin.command: /tmp/install_tailscale.sh
      args:
        creates: /usr/sbin/tailscaled
      register: tailscale_install_result
      changed_when: false

    - name: Enable and start tailscaled
      ansible.builtin.systemd:
        name: tailscaled
        enabled: true
        state: started

    - name: Create nfs root
      ansible.builtin.file:
        path: "{{ nfs_root }}"
        state: directory
        owner: root
        group: root
        mode: "0755"

    - name: Create disk mount points
      ansible.builtin.file:
        path: "{{ mnt_root }}/{{ item.name }}"
        state: directory
        mode: "0755"
      loop: "{{ disks }}"

    - name: Mount disks by UUID
      ansible.posix.mount:
        path: "{{ mnt_root }}/{{ item.name }}"
        src: "UUID={{ item.uuid }}"
        fstype: ext4
        opts: defaults,nofail,x-systemd.automount"
        state: mounted
      loop: "{{ disks }}"

    - name: Create directories debug
      ansible.builtin.debug:
        msg: "{{ mnt_root }}/{{ item.0.name }}/{{ item.1 }}"
      loop: "{{ disks | subelements('create_dirs') }}"

    - name: Create directories
      ansible.builtin.file:
        path: "{{ mnt_root }}/{{ item.0.name }}/{{ item.1 }}"
        state: directory
        mode: "{{ item.mode | default('0775') }}"
        owner: "{{ item.owner | default('root') }}"
        group: "{{ item.group | default('root') }}"
      loop: "{{ disks | subelements('create_dirs') }}"

    - name: Show mergerfs source string
      ansible.builtin.debug:
        msg: "{{ disks | map(attribute='name') | map('regex_replace', '^', mnt_root ~ '/') | join(':') }}"

    - name: Mount mergerfs media pool
      ansible.posix.mount:
        path: "{{ nfs_root }}"
        src: "{{ disks | map(attribute='name') | map('regex_replace', '^', mnt_root ~ '/') | join(':') }}"
        fstype: fuse.mergerfs
        # https://trapexit.github.io/mergerfs/latest/config/functions_categories_policies/#path-preservation
        opts: "defaults,minfreespace=10G,cache.files=off,category.create=eppfrd,func.getattr=newest,dropcacheonclose=false"  # yamllint disable-line rule:line-length
        state: mounted

  roles:
    - geerlingguy.nfs
